<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title>Welcome</title> 
   <link rel="stylesheet" href="/css/dash.css">
   
   </head>
<body>
  <center><h2>Welcome</h2></center>
  <ul class="nav-links">
    <li class="center"><a href="/categories-page">Categories</a></li>
    <li class="upward"><a href="/products-page">Products</a></li>
    <li class="forward"><a href="/product-list">Product-list</a></li>
    <li class="forward"><a href="/auth/logout">Logout</a></li>
  </ul>
</body>
</html>